* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: row;
  margin: 30px 40px;
}

.logo {
  margin: 30px 30px;
}

.about {
  margin-left: 30px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 40px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.register {
  color: hsl(257, 40%, 49%);
  background-color: white;
  border: 3px solid white;
  border-radius: 90px;
  width: 200px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin-top: 40px;
}
.container {
  position: absolute;
}

.socials {
  position: absolute;
  /* top: 0; */
  right: 20px;
}

.socials {
  margin-left: 50px;
}
i {
  padding: 0px 15px;
  padding-bottom: 40px;
}

a {
  color: #fff;
}
